*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignore JSON data files in root directory (data should be in app/src/main/assets/data)
/*.json

# Ignore temporary JSON files in AutoTest directory (created by eval scripts)
/AutoTest/*.json
!/AutoTest/demo.py
